ol {
    display: block;
    position: relative;
    list-style-type: none;
    padding: 0;
    /*bottom: 0; /*if you want dropDown, remove "bottom 0" and check below for other three lines that need to be changed*/
    font-size: 12pt;
    height: 2em;
    line-height: 2em;
    text-align: center;
  }
  ol a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 5px;
  }
  ol > li {
    position: relative;
    float: left;
    background-color: #2a93a5;
    width: auto;
    height: 2em;
    transition-duration: 300ms;
  }
  ol > li:hover {
    background-color: #1a3e68;
  }
  
  ol > li {
    margin-left: 0;
    border-right: 2px dotted white;
  }
  ol > li:last-child {
    border-right: none;
  }
  ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    /*position: absolute; /*remove to dropDown*/
    width: auto;
    transform: scaleY(0);
    transition: 250ms;
    transform-origin: 50% 0%; /*change 100% to 0 for proper dropDown animation*/
    bottom: 100%;
    z-index: 99;
  }
  ol > li:hover > ul {
    visibility: visible;
    transform: scaleY(1);
    bottom: 100%;
    max-height: 300px;
  }
  ol > li > ul > li {
    position: relative;
    z-index: 10;
    background-color: #2a93a5;
    display: block;
    transition: background-color;
    transition-duration: 300ms;
  }
  ol > li > ul > li > a {
    border-top: 1px dashed white; /*in dropUp version change to border-top*/
  }
  ol > li > ul > li:hover {
    background-color: #1a3e68;
  }